@import "../RESOURCES/THEMES/dark.css";

/* Fondo de la página */
body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    /* Oculta el scrollbar en navegadores modernos */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE y Edge */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
}

/* Contenedor principal */
.home-container {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    width: 80%;
    max-width: 600px;  /* Ajusta el ancho máximo */
    position: absolute;
    top: 20px;  /* Lo coloca en la parte superior */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Mensaje de bienvenida centrado */
.welcome-message {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estilos de balance */
.balance {
    color: var(--balance-color);
    margin-top: 10px;
    text-align: center;
}

/* Sección de pedidos */
.orders {
    color: var(--orders-color);
    margin-top: 20px;
}

.orders ul {
    list-style-type: none;
    padding: 0;
}

.orders li {
    background-color: var(--container-background);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.pedidos-container {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--container-background);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.verpedidos-order-item {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.verpedidos-order-item:hover {
    background-color: var(--hover-background-color);
}

.pedido-tomado {
    background-color: var(--pedido-tomado-color);
}

.en-cocina {
    background-color: var(--en-cocina-color);
}

.domicilio {
    background-color: var(--domicilio-color);
}

.period-select {
    margin-bottom: 20px;
}

.period-select label {
    margin-right: 10px;
}

/* Botón de logout */
.logout-button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.logout-button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}
